In [59]:
library(tidyverse)
library(lubridate)
library(magrittr)
library(stringr)

# 2016 day 3

In [34]:
data_16_3 <- read.csv("2016/input//day3.txt",header = F, sep='')

In [39]:
valid_triangle <- function(vals) {
    sorted = sort(c(vals[1], vals[2], vals[3]))
    return(sorted[1] + sorted[2] > sorted[3])
}

In [40]:
sum(apply(data_16_3, valid_triangle, MARGIN = 1))

[1] 1032

In [36]:
valid_triangle(c(245, 38, 891))

[1] FALSE

In [24]:
data_16_3 %>% head

  V1  V2  V3
1 775 785 361
2 622 375 125
3 297 839 375
4 245  38 891
5 503 463 849
6 731 482 759

In [48]:
data_16_3_2 <- data_16_3 %>% unlist %>% matrix(nrow= 3)

In [55]:
data_16_3_2

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13] [,14]
[1,] 775  245   29  669  472  413  271  539  434  188   ⋯     787   781   265
[2,] 622  503  245  570  174  375  696  168  859  799   ⋯     393   630   243
[3,] 297  731  261  124  406  211  513  690  620  932   ⋯     525   771   225
     [,15] [,16] [,17] [,18] [,19] [,20] [,21]
[1,] 843   926   413   371   155   969   734
[2,]  15   574   254   322   661    76   809
[3,] 849   895   158    99   692   957   287

In [50]:
sum(apply(data_16_3_2, valid_triangle, MARGIN = 2))

[1] 1838

# 2016 day 4

In [64]:
data_16_4 <- readr::read_csv("2016/input/day4.txt", col_names='x' )

Parsed with column specification:
cols(
  x = col_character()
)

In [87]:
check_room <- function(x) {
    get_check <- x %>% str_replace_all("-", "") %>% str_split("\\[") %>% unlist %>% magrittr::extract2(1) %>%
        str_extract_all("([a-z])") %>% unlist %>% table %>% sort(T) %>% head(5) %>% names %>% paste(collapse="")
    check <- x %>% str_split("\\[") %>% unlist %>% magrittr::extract2(2) %>%
        stringr::str_replace("\\]", "")
    sector_id <- x %>% str_extract_all("[0-9]") %>% unlist %>% paste(collapse="") %>% as.numeric
    return(as.numeric(get_check == check) * sector_id)
}

In [83]:
check_room("aaaaa-bbb-z-y-x-123[abxyz]")

[1] 123

In [84]:
check_room("a-b-c-d-e-f-g-h-987[abcde]")

[1] 987

In [85]:
check_room("not-a-real-room-404[oarel]")

[1] 404

In [86]:
check_room("totally-real-room-200[decoy]")

[1] 0

In [92]:
sum(map(data_16_4$x, check_room) %>% unlist)

[1] 278221

In [94]:
which(letters=="a")

[1] 1

In [96]:
shift_cipher <- function(x) {
    sector_id <- x %>% str_extract_all("[0-9]") %>% unlist %>% paste(collapse="") %>% as.numeric
    
    if(sector_id %% 26 == 0) {
        shifted_letters <- paste(letters, collapse="")
    } else {
        shifted_letters <- paste(letters[c((1+sector_id%%26) : 26, 1:(sector_id%%26))], collapse="")
    }
    
    coll_letters <- paste(letters, collapse="")
    interm <- x %>% str_split("") %>% unlist %>% chartr(coll_letters, shifted_letters, .) %>% paste(collapse="")
    interm %>% str_replace_all("-", " ")
}

In [97]:
shifted <- map(data_16_4$x, shift_cipher)

In [101]:
shifted %>% stringr::str_detect("north") %>% which

[1] 875

In [102]:
shifted[875]

[[1]]
[1] "northpole object storage 267[oterh]"

# 2016 day 5

In [165]:
library(digest)

In [166]:
digest::digest(object = paste0("abc", 3231929), algo="md5", serialize=F) %>% startsWith('00000')

[1] TRUE

In [167]:
find_hash <- function(x) {
    pwd = ""
    for(i in 9999:.Machine$integer.max) {
        y <- digest::digest(object = paste0(x, i), algo="md5", serialize=F) 
        cat(paste0("i", i))
        if(y %>% startsWith('00000')) {
            pwd = paste0(pwd, substr(y, 6,6))
            cat(pwd)
            if(length(pwd) == 8) {
                return(pwd)
            }
        }
    }
}

In [168]:
find_hash("ugkcyxxp")