In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('input/day2.txt', sep='\t', header=None)

In [7]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,116,1259,1045,679,1334,157,277,1217,218,641,1089,136,247,1195,239,834
1,269,1751,732,3016,260,6440,5773,4677,306,230,6928,7182,231,2942,2738,3617
2,644,128,89,361,530,97,35,604,535,297,599,121,567,106,114,480
3,105,408,120,363,430,102,137,283,123,258,19,101,181,477,463,279
4,873,116,840,105,285,238,540,22,117,125,699,953,920,106,113,259
5,3695,161,186,2188,3611,2802,157,2154,3394,145,2725,1327,3741,2493,3607,4041
6,140,1401,110,119,112,1586,125,937,1469,1015,879,1798,122,1151,100,926
7,2401,191,219,607,267,2362,932,2283,889,2567,2171,2409,1078,2247,2441,245
8,928,1142,957,1155,922,1039,452,285,467,305,506,221,281,59,667,232
9,3882,1698,170,5796,2557,173,1228,4630,174,3508,5629,4395,180,5100,2814,2247
10,396,311,223,227,340,313,355,469,229,162,107,76,363,132,453,161
11,627,1331,1143,1572,966,388,198,2068,201,239,176,1805,1506,1890,1980,1887
12,3390,5336,1730,4072,5342,216,3823,85,5408,5774,247,5308,232,256,5214,787
13,176,1694,1787,1586,3798,4243,157,4224,3603,2121,3733,851,2493,4136,148,153
14,2432,4030,3397,4032,3952,2727,157,3284,3450,3229,4169,3471,4255,155,127,186
15,919,615,335,816,138,97,881,790,855,89,451,789,423,108,95,116

In [16]:
# solve prob 1
x = 0
for i in range(0, len(df)):
    print(i, max(df.iloc[i]) - min(df.iloc[i]))
    x = x + max(df.iloc[i]) - min(df.iloc[i])

x

0 1218
1 6952
2 609
3 458
4 931
5 3896
6 1698
7 2376
8 1096
9 5626
10 393
11 1892
12 5689
13 4095
14 4128
15 830

41887

In [17]:
def evenly_divisible(vec):
    for i in range(0, len(vec)):
        for j in range(0, len(vec)):
            if vec[i] % vec[j] == 0 and vec[i] != vec[j]:
                return max(vec[i], vec[j]) / min(vec[i], vec[j])

In [18]:
evenly_divisible([5,9, 2, 8])

4.0

In [19]:
evenly_divisible([9, 4, 7, 3])

3.0

In [20]:
evenly_divisible([3, 8, 6, 5])

2.0

In [21]:
# solve prob 2
x = 0
for i in range(0, len(df)):
    print(i, evenly_divisible(df.iloc[i]))
    x = x + evenly_divisible(df.iloc[i])

x

0 5.0
1 28.0
2 5.0
3 4.0
4 8.0
5 23.0
6 13.0
7 11.0
8 4.0
9 30.0
10 3.0
11 10.0
12 23.0
13 24.0
14 26.0
15 9.0

226.0